.content-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-carousel__left-arrow {
  align-self: flex-end;
  fill: #ffffff;
}
.content-carousel__right-arrow {
  align-self: flex-end;
  fill: #ffffff;
}
.content-carousel__arrow_hover:hover {
  fill: #c7b299;
}
.content-carousel__arrow_active:active {
  fill: #ffffff;
}
.content-carousel__wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.content-carousel__benefits {
  height: 36px;
  margin: 0 0 4px 0;
  width: 457px;
}
.content-carousel__benefits_style {
  color: #ffffff;
  font-family: 'raleway-regular';
  font-size: 36px;
  font-weight: 500;
  line-height: 0.9;
}
.content-carousel__title {
  height: 50px;
  width: 589px;
}
.content-carousel__title_styles {
  color: #ffffff;
  font-family: 'raleway-extra-bold';
  font-size: 52px;
  font-weight: 800;
  line-height: 1.2;
}
.content-carousel__text {
  height: 39px;
  width: 574px;
  margin: 31px 0 0 0;
}
.content-carousel__text_styles {
  color: #ffffff;
  font-family: 'montserrat-regular';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 31px 0 0 0;
}
