.menu {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  float: left;
  height: 64px;
  justify-content: space-between;
  padding: 0 324px 0 326px;
  width: 100%;
}
.menu__link_style {
  text-decoration: none;
}
.menu__logo {
  align-items: center;
  display: flex;
  float: left;
}
.menu__logo-svg_style {
  fill: #ffffff;
}
.menu__logo__svg_hover:hover {
  fill: #fce6cf;
  color: #fce6cf;
}
.menu__logo:hover .menu__logo-name_style,
.menu__logo:hover .menu__logo-svg_style {
  color: #fce6cf;
  fill: #fce6cf;
}
.menu__logo:active .menu__logo-name_style,
.menu__logo:active .menu__logo-svg_active {
  fill: #ffffff;
  color: #ffffff;
}
.menu__logo-name_style {
  color: #ffffff;
  font-family: 'raleway-regular';
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0 0 0 2px;
}
.menu__list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menu__list_style {
  list-style-type: none;
}
.menu__list__link {
  text-decoration: none;
}
.menu__list__items {
  display: inline-block;
  margin: 0 29px 0 0;
}
.menu__list__items_style {
  color: #ffffff;
  font-family: 'montserrat-regular';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}
.menu__list__items_style:active {
  color: #ffffff;
}
.menu__list__svg-case {
  margin: 0 0 0 34px;
  width: 20px;
  height: 27px;
  fill: #ffffff;
}
.menu__list__svg-search {
  fill: #ffffff;
  margin: 0 0 0 29px;
}
.menu__list__svg-active:active {
  fill: #ffffff;
}
.menu__list__items_active {
  color: #c7b299;
}
